extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Evi Clinic
block page

    section.basic_questions
        .basic_questions__container
            .basic_questions__wrapper

                h2.basic_questions__title Основные вопросы #[strong по проведению офисной гистероскопии]

                .basic_questions__content
                    ul.basic_questions__list

                        li Что такое офисная гистероскопия?
                        li Почему не нужен наркоз?
                        li Почему офисная гистероскопия малотравматична?
                        li Какое оборудование используют для офисной гистероскопии?
                        li Какие ощущения испытывают при офисной гистероскопии?
                        li Какая нужна подготовка к офисной гистероскопии?
                        li Какие ограничения имеются после проведения офисной гистероскопии?
                        li Нужно ли медикаментозное лечение после офисной гистероскопии?
                        li Можно ли сразу удалить полип, синехии, миому?
                        li Сколько длится офисная гистероскопия?
                        li Что выбрать: обычную или офисную гистероскопию?
                        li Противопоказания к офисной гистероскопии
                        li Когда нужна повторная офисная гистероскопия?



                    iframe.basic_questions__frame(title="vimeo-player" src="https://player.vimeo.com/video/945730357?h=3906299c6b?badge=0&title=false&byline=0&portrait=0" width="648" height="366" frameborder="0"    allowfullscreen)


    .videos_section
        .videos_section__container
            .videos_section__item
                iframe(width="560" height="315" src="https://www.youtube.com/embed/gbDdZbWQd8M?si=sPoy9F1mLWjAP8od" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
            .videos_section__item
                iframe(width="560" height="315" src="https://www.youtube.com/embed/gbDdZbWQd8M?si=sPoy9F1mLWjAP8od" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
            .videos_section__item
                iframe(width="560" height="315" src="https://www.youtube.com/embed/gbDdZbWQd8M?si=sPoy9F1mLWjAP8od" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
            .videos_section__item
                iframe(width="560" height="315" src="https://www.youtube.com/embed/gbDdZbWQd8M?si=sPoy9F1mLWjAP8od" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)











