.basic_questions {
    margin: 86px 0 110px;
    font-family: Inter, sans-serif;
    color: #592c1c;

    &,
    & * {
        box-sizing: border-box;
    }

    @include lg {
        margin: 60px 0 80px;
    }

    @include xs {
        margin: 41px 0 78px;
    }
}

.basic_questions__container {
    padding: 0 40px;
    max-width: 1480px;
    margin: 0 auto;

    @include xs {
        padding: 0 10px;
    }
}

.basic_questions__wrapper {
    margin-bottom: 47px;
    padding: 58px 57px 64px;
    background-color: #f8f8f8;

    @include lg {
        padding: 40px 40px 60px;
    }

    @include sm {
        padding: 0;
        background-color: transparent;
    }
}

.basic_questions__title {
    max-width: 1069px;
    margin: 0 0 47px 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 108%;
    color: #04bf9d;

    strong {
        color: #592c1c;
    }

    @include lg {
        font-size: 44px;
    }

    @include sm {
        margin-bottom: 35px;
        font-size: 32px;
        line-height: 112%;
    }

    @include xs {
        margin-bottom: 25px;
    }
}

.basic_questions__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 86px;
    padding-top: 47px;
    border-top: 2px solid #04bf9d;

    @include sm {
        display: block;
        padding-top: 35px;
    }

    @include xs {
        padding-top: 34px;
    }
}

.basic_questions__list {
    margin: 0;
    padding: 34px 0 0 0;

    li {
        position: relative;
        list-style-type: none;
        padding: 0 0 0 32px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 15px;
            left: 12px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #592c1c;
        }
    }

    font-weight: 400;
    font-size: 22px;
    line-height: 168%;

    @include lg {
        font-size: 18px;
    }

    @include sm {
        margin-bottom: 50px;
        padding: 0;
    }

    @include xs {
        margin-bottom: 37px;
        font-size: 14px;
        line-height: 129%;

        li {
            padding-left: 21px;

            &::before {
                top: 10px;
                left: 9px;
                width: 4px;
                height: 4px;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

.basic_questions__frame {
    display: block;
    flex: 0 0 366px;
    width: 100%;
    max-width: 366px;
    aspect-ratio: 366 / 648;
    // height: 648px;
    height: auto;

    @include sm {
        margin: 0 auto;
        border: 1px solid #d9d9d9;
    }
}
